TZ=Asia/Colombo
JELLYFIN_PUBLISHED_SERVER_URL=http://localhost:8096
ARIA2_SECRET=change-me
JELLYFIN_API_KEY=change-me
FLASK_SECRET_KEY=change-me
DOWNLOADER_USERNAME=admin
DOWNLOADER_PASSWORD=change-me
